
ipch/
*.sdf
*.opensdf


Debug/
Release/


*.o
*.obj
*.exe
*.dll
*.pdb


*.user
*.aps
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
*.zip
*.log
*.lib
*.sbr
*.scc
*.vspx